.button {
  animation: scale 1s forwards;

  &--isClicked {
    animation: scaleFixedHeight 0.3s forwards;
    animation-direction: reverse;
  }

  &-trigger {
    background: $color-background;
    border: 6px solid $color-text;
    border-radius: 25px;
    box-shadow: 0px 21px 18px -10px rgba(0,0,0,0.75);
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    height: 65px;
    margin-bottom: 50px;
    padding: 0;
    transition: 0.3s;
    width: 175px;

    &:hover {
      background: $color-text;
      color: $color-background;
    }

    &:active {
      box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.75);
      transform: translateY(6px);
    }

    @media (min-width: $breakpoint-mobile-horizontal) {
      border: 7px solid $color-text;
      height: 80px;
      width: 225px;
    }
  }
}