.report {
  animation: scaleFixedHeight 1s forwards;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;

  @media (min-width: $breakpoint-tablet) {

  }

  &-content {
    max-width: $content-max-width;
    text-transform: uppercase;

    &--isAnimatedOut {
      animation: fadeInLeftBig 0.5s forwards;
      animation-direction: reverse;
    }

    &--isAnimatedIn {
      animation: fadeInRightBig 0.5s forwards;
    }
  }

  &-nextDay,
  &-back {
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
  }

  &-back {
    animation: fadeIn 0.5s forwards 1.5s;
    opacity: 0;
  }
}