@keyframes scale {
  0% {
    height: 0;
    opacity: 0;
    transform: scale(0); }
  20% {
    height: 110px;
    opacity: 0;
    transform: scale(0); }
  100% {
    height: 110px;
    opacity: 1;
    transform: scale(1); } }

@keyframes scaleFixedHeight {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes load3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.header {
  margin-bottom: 20px;
  text-align: center;
  transition: all 1s; }

@media (min-width: 575px) {
  .header {
    margin-bottom: 50px; } }

.header .iconWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px; }

@media (min-width: 575px) {
  .header .iconWrapper {
    justify-content: flex-end; } }

.header-icon {
  height: 110px;
  margin-bottom: -10px;
  opacity: 0.3;
  width: 110px; }

@media (min-width: 575px) {
  .header-icon {
    margin-bottom: -25px; } }

.header-h1 {
  animation: fadeInLeftBig 0.7s forwards; }

.button {
  animation: scale 1s forwards; }

.button--isClicked {
  animation: scaleFixedHeight 0.3s forwards;
  animation-direction: reverse; }

.button-trigger {
  background: #283845;
  border: 6px solid #9ed997;
  border-radius: 25px;
  box-shadow: 0px 21px 18px -10px rgba(0, 0, 0, 0.75);
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  height: 65px;
  margin-bottom: 50px;
  padding: 0;
  transition: 0.3s;
  width: 175px; }

.button-trigger:hover {
  background: #9ed997;
  color: #283845; }

.button-trigger:active {
  box-shadow: 0px 10px 18px -10px rgba(0, 0, 0, 0.75);
  transform: translateY(6px); }

@media (min-width: 480px) {
  .button-trigger {
    border: 7px solid #9ed997;
    height: 80px;
    width: 225px; } }

.report {
  animation: scaleFixedHeight 1s forwards;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px; }

.report-content {
  max-width: 810px;
  text-transform: uppercase; }

.report-content--isAnimatedOut {
  animation: fadeInLeftBig 0.5s forwards;
  animation-direction: reverse; }

.report-content--isAnimatedIn {
  animation: fadeInRightBig 0.5s forwards; }

.report-nextDay, .report-back {
  cursor: pointer;
  padding-top: 10px;
  text-align: center; }

.report-back {
  animation: fadeIn 0.5s forwards 1.5s;
  opacity: 0; }

.search {
  height: 61px; }

.search-trigger {
  cursor: pointer;
  margin-top: 5px; }

.search-form {
  position: relative; }

.search-form--isAnimated {
  animation: fadeIn 0.5s forwards; }

.search-field {
  background: #283845;
  border: 2px solid #1c2730;
  border-radius: 10px;
  box-shadow: 0px 15px 18px -10px rgba(0, 0, 0, 0.5);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 38px;
  margin: 20px 0;
  padding: 0 10px;
  transition: border-color 0.2s;
  width: 200px; }

.search-field:focus {
  border-color: #9ed997; }

.search-field::-moz-placeholder {
  opacity: 1; }

.search-loaderWrapper {
  pointer-events: none;
  position: absolute;
  top: 22px;
  right: -85px;
  width: 100%; }

.loader-wrapper {
  animation: fadeIn 0.7s forwards; }

.loader {
  animation: load3 1.4s infinite linear;
  background: linear-gradient(to right, #9ed997 10%, rgba(255, 255, 255, 0) 42%);
  border-radius: 50%;
  font-size: 10px;
  height: 9em;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 9em; }

.loader--isSmall {
  height: 18px;
  margin-bottom: 0;
  width: 18px; }

.loader:before {
  width: 50%;
  height: 50%;
  background: #9ed997;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.loader:after {
  background: #283845;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.footer {
  bottom: 0;
  font-size: 12px;
  padding: 20px 0;
  position: absolute;
  text-align: center; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #9ed997; }

.App {
  align-items: center;
  background: #283845;
  color: #9ed997;
  display: flex;
  flex-direction: column;
  font-family: 'Boogaloo', cursive;
  font-size: 16px;
  min-height: calc(100vh);
  justify-content: center;
  overflow: hidden;
  padding: 15px 20px 0;
  position: relative; }

@media (min-width: 1024px) {
  .App {
    padding: 0 40px; } }

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
  text-align: center; }

.error {
  padding: 20px 0; }

.error--isBlinking {
  animation: fadeIn .5s ease-in-out;
  animation-iteration-count: 3; }

h1,
.h1 {
  font-size: 70px;
  margin: 0; }

@media (min-width: 480px) {
  h1,
  .h1 {
    font-size: 100px; } }

h3,
.h3 {
  font-size: 32px; }

@media (min-width: 480px) {
  h3,
  .h3 {
    font-size: 48px; } }

h4,
.h4 {
  font-size: 28px; }

@media (min-width: 480px) {
  h4,
  .h4 {
    font-size: 36px; } }
